<<<<<<< HEAD
body {
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
=======


body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

>>>>>>> 8d80debd5ddf51ffdc50d5ee235fdc6c8c87f3d6
