.portfolio-manager-wrapper {
<<<<<<< HEAD
  display: grid;
  grid-template-columns: 3fr 1fr;

  .left-column {
    background-color: $offwhite;
  }

  .right-column {
    background-color: $charcoal;
  }
}
=======
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-column {
        background-color: $offwhite;
    }

    .right-column {
        background-color: $charcoal;
    }
}
>>>>>>> 8d80debd5ddf51ffdc50d5ee235fdc6c8c87f3d6
