$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
<<<<<<< HEAD
$grey: #8a8a8a;
=======
$grey: #8a8a8a;
>>>>>>> 8d80debd5ddf51ffdc50d5ee235fdc6c8c87f3d6
